//$headerBackgroundColor: #bee5eb;
//$headerBackgroundColor: #008ee2;
//$headerBackgroundColor: #394B58;
$selectedBackgroundColor: #bee5eb;
$headerBackgroundColor: #a0cdfd;
//$selectedBackgroundColor: #b8daff;
$mainFilterBodyHeight:          138px;
